body {
  background: #f0f0f0;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 200;
}

.card-panel {
  width: 400px;
  height: 625px;
  margin: 10px auto;
}

.signin {
  width: 400px;
  height: 275px;
  margin: 10px auto;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #4caf50;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #4caf50;
  box-shadow: 0 1px 0 0 #000;
}

.input-field label {
  color: #4caf50;
}   
h3
  margin-left: 15px

.fileInput {
  border-bottom: 4px solid lightgray;
  border-right: 4px solid lightgray;
  border-top: 1px solid black;
  border-left: 1px solid black;
  padding: 10px;
  margin: 15px;
  cursor: pointer;
}

.imgPreview {
  text-align: center;
  margin: 5px 15px;
  height: 200px;
  width: 500px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 5px solid gray;
  border-bottom: 5px solid gray;
  img
    width: 50%;
    height: 50%;
}

.previewText {
  width: 50%;
  margin-top: 20px;
 }


